.small-cart {

    border: 2px solid green;
    padding: 15px;
    margin-right: 4px;
    background-color: azure;
    border-radius: 7px;
    margin-bottom: 10px;
    border: none;

}

.small-cart span {

    margin-right: 10px;
}