.blog {

    margin-left: 180px;
    margin-top: 50px;



}


.blog1 {

    margin-top: 30px;
    height: 150px;
    background-color: rgb(178, 178, 189);
    width: 90%;
    font-size: 17px;
    padding-left: 5px;
    border-radius: 20px;

}